@model Demo_T2.Models.User

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddUser</h1>
<hr />
<p style="color:red">@ViewBag.Error</p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="col-ms-6">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="col-ms-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-ms-6">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-ms-6">
                <label asp-for="UserDetail.FirstName" class="control-label"></label>
                <input asp-for="UserDetail.FirstName" class="form-control" />
                <span asp-validation-for="UserDetail.FirstName" class="text-danger"></span>
            </div>

            <div class="col-ms-6">
                <label asp-for="UserDetail.LastName" class="control-label"></label>
                <input asp-for="UserDetail.LastName" class="form-control" />
                <span asp-validation-for="UserDetail.LastName" class="text-danger"></span>
            </div>

            <div class="col-ms-6">
                <label asp-for="UserDetail.PhoneNumber" class="control-label"></label>
                <input asp-for="UserDetail.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserDetail.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-ms-6">
                <label asp-for="UserDetail.Address" class="control-label"></label>
                <input asp-for="UserDetail.Address" class="form-control" />
                <span asp-validation-for="UserDetail.Address" class="text-danger"></span>
            </div>
            <br />  
            <div class="col-ms-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


